* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    z-index: 0;
  }


body {
    background-color: rgb(255, 255, 255);

}



.contenedor_principal {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}





.contenedor_secciones {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    padding-left: 5.2em;

}

/* Animación de rebote doble con efecto de aparición */
@keyframes dobleRebote {
    0% {
        transform: translateY(-50px);
        /* Comienza más arriba */
        opacity: 0;
    }

    30% {
        transform: translateY(1px);
        /* Baja con velocidad */
        opacity: 0.5;
    }

    50% {
        transform: translateY(-10px);
        /* Primer rebote */
        opacity: 1;
    }

    /* Rebote fuerte */
    70% {
        transform: translateY(1px);
    }

    /* Rebote más suave */
    100% {
        transform: translateY(0);
    }
}

#imagen_ {
    width: 100%;
    height: 10em;
    z-index: 1;
    animation: dobleRebote 2s ease-out;
}

#imagen_1 {
    width: 601px;
    height: 40em;
    z-index: 1;
    animation: dobleRebote 2s ease-out;
}

.contenedor_botones {
    background-color: green;
    width: 43em;
    display: flex;
    gap: 33%;
    padding-left: 1em;
    justify-content: flex-end;


}

.contenedor {
    margin-right: 7em;
    position: relative;
    display: inline-block;
}

.contenedor:hover img {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    /* background: linear-gradient(147deg, #F38221 0%, #35363A 74%); */
    background-color: #35363A;

    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    white-space: nowrap;
}

.tooltip::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F38221;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

/* .contenedor {
    width:5em;
    background-color: transparent;
    border-bottom: 1px solid transparent; 
    padding-bottom: 5px;
    border-image: linear-gradient(to right, rgba(255, 140, 66, 0) 0%, #FF8C42 50%, rgba(255, 140, 66, 0) 100%);
    border-image-slice: 1; 
} */

.contenedor:hover .tooltip {
    opacity: 1;
    top: -50px;
}

/* Animación solo de desvanecimiento */
@keyframes desvanecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#imagen_2 {
    width: 4em;
    height: 3em;
    animation: desvanecer 2s ease-out;


}



/* ------- Estilos de la ventana emergente stylo inicio secion ------- */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 700px;
    height: 420px;
    border: 1px solid white;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    z-index: 1000;
}

.popup-contenido {
    text-align: center;
}

.contenedor-central {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Botón de cerrar */
.cerrar {
    position: absolute;
    top: 6px;
    right: 17px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.contenedor_centrado_info {
    background-color: red;
    width: 50%;
    height: auto;
    position: relative;
    top: 3em;



}
.admin_p{
    color: #35363A;
    margin-left: 5em;
}

#imagen_3 {
    width: 250px;
    height: 50px;
    padding-top: 11px;
}


.titulo {
    color: white;
    position: relative;
    top: 20px;
    display: flex;
    font-size: 16px;
}

.info_correo {
    background-color: transparent;
    color: white;
    height: 70px;
    position: relative;
    top: 30px;
    text-align: left;


}

/* From Uiverse.io by mrhyddenn */
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, rgba(255, 140, 66, 0) 0%, #FF8C42 50%, rgba(255, 140, 66, 0) 100%);
    /* border-image: linear-gradient(to right, #116399, #38caef); */
    /* background: linear-gradient(to right, rgba(255, 140, 66, 0) 0%, #FF8C42 50%, rgba(255, 140, 66, 0) 100%); */
    border-image-slice: 1;
}


.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #FF8C42;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

#correo {

    width: 250px;


}


.info_contraseña {
    background-color: transparent;
    color: white;
    position: relative;
    top: 20px;
    text-align: left;
    height: 70px;
}

#contraseña {
    width: 250px;
}




.boton_ingresar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 60px;
}

#boton {
    width: 80px;
    height: 20px;
}

/* ------- Estilos de la ventana emergente registro de usuario ------- */


#tamaño{
    font-size: 14px;
    padding-top: 10px;

}
.popup_2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 400px;
    height:560px;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 1000;
}

.popup-contenido_2 {
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
}

.contenedor-central_2 {
    /* background-color: tomato; */
    border: 1px solid transparent;
    width: 100%;
    height: 83.9%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.titulo_2 {
    color: white;
    position: relative;
    display: flex;
    text-align: right;
    font-size: 17.4px;
    top: 8px;
}


.contenedor_centrado_info_2 {
    background-color: transparent;

    width: 80%;
    height: auto;
    position: relative;
    top: 5px;

}

.boton_ingresar_2 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 40px;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 6px 25px;
    border: none;
    font-size: 13px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0px 0 5px 2px white;
    color: #ffffff;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

/* pie de pagina footer */

.footer {
    background-color:black;
    width: 100%;
    height: 7em;
    color:#35363A;
    /* border-top:1px solid #35363A ; */
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
}
